
button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #ffffff;
    background-color: #d37455;
    border: none;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;

}
.google_button {
    background-color: #4c8bf5;
}
button:hover { 
    color: #d37455;
    background-color: #ededed;

}

