
.header-container {
    height: 100vh;
    width: 100%;
    position: block;
    color: #D37455;
    line-height: 3rem;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    .header-text { 
        margin: 0 auto;
        text-align: center; 
        h1 {
            font-size: 10rem;
        }
        .subtext {
            font-family: 'EB Garamond', serif;
            font-size: 2rem;
            color: #ffffff;

        }
        .italicized {
            font-weight: italic;
            position: relative;
            bottom: 2rem;
        }
    }

}